<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/chess.jpg" type="image/x-icon">
  <title><%= title %></title>
  <style>
  body {
    background: linear-gradient(
      -45deg,
      red,
      orange,
      yellow,
      green,
      cyan,
      blue,
      indigo,
      violet,
      pink
    );
    background-size: 300% 300%;
    animation: rainbowMove 10s ease infinite;
    height: 100vh;
    margin: 0;
    font-family: sans-serif;
  }

  @keyframes rainbowMove {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
</style>

  </style>
</head>
<body>
  <p style="text-align: center; color: white;">
    When ketika success is 200, <br>
    masih development ngab, <br>
    masih nyoba-nyoba.
  </p>


  <div class="tenor-gif-embed" data-postid="22755440" data-share-method="host" data-aspect-ratio="1.78771" data-width="100%">
    <a href="https://tenor.com/view/rick-astly-rick-rolled-gif-22755440">Rick Astly Rick Rolled GIF</a>
    from <a href="https://tenor.com/search/rick+astly-gifs">Rick Astly GIFs</a>
  </div>
  <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
</body>
</html>
